<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <%= form.text_field :nombre, id: :task_nombre, class: "input" %>
  </div>

  <%= form.fields_for :time_entry do |g| %>
    <div class="container">
    <div class="field">
    <%= g.label :start_time, class: "label" %>
     <%= g.text_field :start_time, id: "datetimepicker1", class: "input"%>        
    </div>
    </div>

    <div class="field">
    <%= g.label "Duracion(min)", class: "label" %>
    <%= g.number_field :duracion, class: "input"%>
    </div>

  <% end %>

  <div class="field is-pulled-right">
    <%= form.submit "Guardar", class: "button is-link" %>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>