<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label" %>
    <div class="control">
      <%= form.text_field :nombre, id: :task_nombre, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label "Projecto", class: "label" %>
    <div class="control">
      <%= form.select :proyect_id, Proyect.where(user: current_user).collect {|p| [ p.nombre, p.id ] }, { include_blank: 'Seleccione' } , class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :fecha_inicio, class: "label" %>
    <div class="control">
      <%= form.date_field :fecha_inicio, id: :fecha_inicio, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :hora_inicio, class: "label" %>
    <div class="control">
      <%= form.time_field :hora_inicio, id: :hora_inicio, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label "Duracion(min)", class: "label" %>
    <%= form.number_field :duracion, class: "input"%>
  </div>

  <div class="field is-pulled-right">
    <%= form.submit "Guardar", class: "button is-link" %>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>