<div class="content">
<div class="notification is-info <%= notice.try(:empty?)? "":"is-invisible" %>">
  <button class="delete"></button>
  <p id="notice"><%= notice %></p>
</div>
<h2 class="subtitle is-2">Listado de tareas</h2>

<div id="test_time">
<%= render 'addtarea', task: @task %>
</div>

<p class="is-pulled-right">
<%= link_to 'Nueva Tarea', new_task_path, class: "button is-success" %>
</p>
<table class="table is-fullwidth table is-striped">
  <thead>
    <tr>
      <th>Tarea</th>
      <th>Duracion</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.nombre %></td>
        <td><%=task.duracion%> (min)</td>
        <td><%= task.user.email%></td>
        <td class="is-pulled-right">
        <%= link_to raw('<i class="fa fa-edit"></i>'), edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>