<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @task.nombre %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
