<%= form_with(model: proyect, local: true) do |form| %>
  <% if proyect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

      <ul>
      <% proyect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre, class: "label"%>
    <%= form.text_field :nombre, id: :proyect_nombre, class: "input" %>
  </div>

  <div class="field is-pulled-right">
    <%= form.submit "Guardar", class: "button is-link" %>
  </div>
<% end %>
